<div class="background-container">
  <div class="background-shadow">
    <div class="container">
      <h2 class="banner-info">Busca ofertas de vuelos</h2>
      <div class="flex-container">
        <div class="flex-item searcher">
          <ul>
            <li>IDA Y VUELTA | </li>
            <li> SOLO IDA</li>
          </ul>
          <form action="">
            <input type="text" class="form-control input-style" name="" id="" placeholder="Despegue">
            <i class="fas fa-exchange-alt"></i>
            <input type="text" class="form-control input-style" name="" id="" placeholder="Aterriza">
            <br>
            <br>
            <input type="date" class="form-control input-style" name="" id="departure" value="2019-03-27">
            <input type="date" class="form-control input-style" name="" id="comeback" value="2019-05-27">
            <br>
            <br>
            <select class="form-control ">
              <option>Turista - 1 Adulto</option>
            </select>
            <div class="moreInfo">
              <h4>Clase</h4>
              <select class="form-control input-style">
                <option>Ejecutiva</option>
                <option>Turista</option>
              </select>
              <hr>
              <h4>Pasajeros</h4>
              <form>
                <label for="adults">Adultos</label>
                <input type="number" class="form-control input-style" name="adults" id="adults" value="1">
                <br>
                <label for="kids">Niños</label>
                <input type="number" class="form-control input-style " name="kids" id="kids" value="0">
              </form>
            </div>

          </form>
        </div>
        <div class="flex-item banner-info">
          <ul>
            <li><i class="fas fa-check"></i> Busca en cientos de webs de </li>
            <li><i class="fas fa-check"></i> Reserva con confianza </li>
            <li><i class="fas fa-check"></i> Crea una Alerta y no te pierdas una sola oferta de vuelos</li>
            <li><i class="fas fa-check"></i> Encuentra la información que necesitas </li>
          </ul>
        </div>
      </div>
      <input type="submit" value="Buscar" class="btn btn-danger">
    </div>
  </div>
</div>


<div class="container">
  <div>
    <h2>Destinos populares desde </h2>
    <div class="flex-container">
      <div class="destination-space">
        <div class="imgs"></div>
        <div class="card-style">
          <h4>MIAMI, EEUU</h4>
          <p>San Jose - Miami</p>
          <p>28-03-2019 - 31-03-2019</p>
          <p>Desde: $250</p><button class="btn btn-danger">Buscar</button>
        </div>
      </div>
      <div class="destination-space">
        <div class="imgs"></div>
        <div class="card-style">
          <h4>MIAMI, EEUU</h4>
          <p>San Jose - Miami</p>
          <p>28-03-2019 - 31-03-2019</p>
          <p>Desde: $250</p><button class="btn btn-danger">Buscar</button>
        </div>
      </div>
      <div class="destination-space">
        <div class="imgs"></div>
        <div class="card-style">
          <h4>MIAMI, EEUU</h4>
          <p>San Jose - Miami</p>
          <p>28-03-2019 - 31-03-2019</p>
          <p>Desde: $250</p><button class="btn btn-danger">Buscar</button>
        </div>
      </div>
    </div>
  </div>
</div>