<nav class="navbar navbar-expand-lg navbar-color-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img class="test t" src="/assets/img/KayakLogo.png" alt="">
    </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/flights" routerLinkActive="active">Vuelos</a>
          </li>
        </ul>
      </div>
  </div>
</nav>
<router-outlet></router-outlet>